<%const value = ""; %>
<%const foo = 2; %>

<% if (value != "") { %>
    <p>Значение равно <%= value %></p>
<% } else { %>
    <p>Значение не обозначено</p>
<% } %>

<% for (var i = 0; i < 6; i++) { %>
    <p>Номер:  <%= i + 1 %></p>
<% } %>


<% switch (foo) { 
     case 1: %>
        <p>Значение равно 1</p>
        <% break;
     case 2: %>
        <p>Значение равно 2</p>
        <% break;
    default: %>
        <p>Значение не равно ни 1, ни 2</p>
        <% break;
} %>