extends ./head
block content
  h1 Описание главной страницы
  a(class='button', href='http://localhost:3000/pugPractice') Pug
  |
  |
  a(class='button', href='http://localhost:3000/listteacher') Учителя
  |
  |
  a(class='button', href='http://localhost:3000/liststudents') Студенты
  |
  |
  a(class='button', href='http://localhost:3000/ejsPractice') Ejs
  |
  |
  a(class='button', href='http://localhost:3000/hbsPractice') Hbs