extends ./head
block content
    if teacher != null
        form(action="/teacher/" + teacher.id, method="POST")
        input(name="firstname" value=teacher.firstname)
        input(name="lastname" value=teacher.lastname)
        input(name="surname" value=teacher.surname)
        input(name="trainingcourse" value=teacher.trainingcourse)
    else
        div Преподаватель с таким id не найден    